PORT=8080
AUTH_SERVICE_URL=http://auth-service:8001
PATIENT_SERVICE_URL=http://patient-service:8002
DOCTOR_SERVICE_URL=http://doctor-service:8003
APPOINTMENT_SERVICE_URL=http://appointment-service:8004
NOTIFICATION_SERVICE_URL=http://notification-service:8005
PAYMENT_SERVICE_URL=http://payment-service:8006
TELEMEDICINE_SERVICE_URL=http://telemedicine-service:8007
AI_SERVICE_URL=http://ai-service:8008
